body{
    color: aquamarine;
}
h1{
    text-align: center;
    background-color:aqua;
}
h2{
    text-align: center;
    background-color:aqua;
}h3{
    text-align: center;
    background-color:aqua;
}h4{
    text-align: center;
    background-color:aqua;
}h5{
    text-align: center;
    background-color:aqua;
}h6{
    text-align: center;
    background-color:aquamarine;
}